:root {
  --color-primary: #604f71;
  --color-secondary: #807094;
  --color-text: #604f71;
  --color-background: #fcfcfb;
  --color-accent1: #ef98a7;
  --color-accent2: #f7bea9;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
